In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans # Here is where you import the k-means algorithm from scikit-learn.
import pylab as pl # PyLab is a convenience module that bulk imports matplotlib.

In [2]:
path= r'C:\Users\jphil\OneDrive\Documents\CareerFoundry Data Analytics\Data Immersion\Achievement 6- Denver Crime'

In [3]:
crimes=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'crimes_derived.csv'), index_col=False)

In [4]:
#making a new df with more columns that could potentially explain more variance.
df1= crimes[['danger_score', 'Non Family Household', 'Vacant Housing Units', 'Age 20 to 29', 'Household Income Less 10000', 'victim_count', 'Total Population All', 'MALE', 'FEMALE', 'Age 10 to 19', 'Age 30 to 39', 'Not Enrolled', 'Total Commuters', 'Less Than HS Diploma', 'Total Housing Units', 'Median Household Income', 'Per Capita Income', 'Foreign Born FB', 'Percent Living in Poverty', 'Median Home Value', 'Married Couple Family','Commute Over 60 Minutes', 'Spanish', 'Grades 9 to 12', 'Median Age All']]

In [5]:
# Select only the numerical columns
df_numerical = df1.select_dtypes(include=['number']).copy()

In [6]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
df_imputed = pd.DataFrame(imputer.fit_transform(df_numerical), columns=df_numerical.columns)

In [7]:
# Create the k-means object.

kmeans = KMeans(n_clusters = 5)

In [8]:
df_imputed['clusters'] = kmeans.fit_predict(df_imputed)

C:\Users\jphil\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [9]:
df_imputed['clusters'].value_counts()

clusters
0    100089
2     99469
3     87514
1     72827
4     10592
Name: count, dtype: int64

In [10]:
#calculating descriptive statistics
stats=df_imputed.groupby('clusters').agg({'Median Home Value':['mean', 'median'], 
                         'Median Household Income':['mean', 'median'], 
                         'Per Capita Income':['mean', 'median'],
                          'danger_score':['mean', 'median']})

In [11]:
stats

         Median Home Value           Median Household Income            \
                      mean    median                    mean    median
clusters
0            409146.041903  419225.0            66914.582881   66364.0
1            639550.468535  635650.0           105358.083252   99847.0
2            290215.132715  294600.0            59747.007007   56981.0
3            530975.979352  530933.0            84794.130482   85513.0
4            858459.884819  818900.0           146746.470733  129139.0

         Per Capita Income          danger_score
                      mean   median         mean    median
clusters
0             45676.643767  42952.0     0.290409  0.289685
1             69584.335700  63214.0     0.392107  0.428764
2             25709.665303  28064.0     0.315378  0.291713
3             56614.210321  55240.0     0.456175  0.348689
4            101818.932591  98101.0     0.103246  0.081084

In [12]:
stats.to_clipboard()

In [13]:
df_imputed.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'crimes_cluster.csv'))